* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
:focus,
:active {
  outline: none;
}
img {
  vertical-align: top;
  max-width: 100%;
}
svg {
  vertical-align: middle;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select {
  font: inherit;
}
input,
button,
textarea,
select {
  color: inherit;
  background-color: transparent;
}
button {
  cursor: pointer;
}
button {
  svg {
    pointer-events: none;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
textarea {
  resize: none;
}
