//colors
$color-primary: #c14d4d;
$color-light: #fff;
$color-dark: #0c2147;
$color-muted: #6f7d96;
$color-font: $color-muted;

//breakpoints
$width-xl: 1400px;
$width-l: 1200px;
$width-m: 992px;
$width-s: 768px;
$width-xs: 576px;

$height-s: 768px;
$height-xs: 576px;
